<footer class="main-footer">
    <strong>Copyright &copy; 2024-2025 <a href="https://www.facebook.com/abdelrahman.g.nofal">Michael Akram</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <a target="_blank" href="https://www.facebook.com/michael.akram.39"><i class="fab fa-lg ml-1 fa-facebook"></i></a>
        <a target="_blank" class="text-warning" href="https://www.instagram.com/michaelakramn/"><i class="fab fa-lg ml-1 fa-instagram"></i></a>
    </div>
  </footer>